@import "src/assets/variables";

section {
  position: fixed;
  top: 80px;
  left: 120px;
  height: calc(100vh - 80px);
  width: calc(100vw - 120px);
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  width: 120px;
  z-index: 1000;
}

.menu .logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu a.previous {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $pallet-three;
}

.menu a.next {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $pallet-three;
}

.menu a.previous:hover, .menu a.next:hover {
  background-color: $pallet-two;
  border-radius: 50%;
  display: flex;
  padding: 5px;
}

.menu a.previous path, .menu a.next path {
  fill: $pallet-two;
}

.menu a.previous:hover path, .menu a.next:hover path {
  fill: $pallet-one;
}

.menu nav  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu nav > ul > li {
  margin-bottom: 30px;
}

.menu nav > ul > li > a {
  display: table-cell;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: $pallet-three;
}

.menu nav > ul > li.uk-active > a, .menu nav > ul > li > a:hover {
  background-color: $pallet-two;
}
