<div class="uk-section uk-light">
  <div class="uk-container uk-animation-scale-up">
    <h2 class="uk-text-center uk-margin-remove-top">Konstantinos Triantafyllou</h2>
    <div class="uk-flex uk-flex-top uk-margin-xlarge-bottom uk-grid uk-grid-large" uk-grid>
      <div class="uk-width-1-4@m uk-width-1-3">
        <img class="photo" src="assets/kostis.png">
      </div>
      <div class="uk-width-expand">
        <p>
          Konstantinos Triantafyllou is a Front-End developer, who is completing his MSc in Computer Science in the
          <a href="http://di.uoa.gr" target="_blank">Department of Informatics and Telecommunications</a>
          in the National and Kapodistrian University of Athens. He got his bachelors' degree in the same department
          by the end of July 2017 graduating with a 2:1 GPA.
        </p>
        <p>
          Currently and since January last year (2019), he commenced his collaboration as a Front-End developer with
          the ''Athena Research and Innovation Center'' and specifically for the <a href="https://openaire.eu"
                                                                                    target="_blank">OpenAIRE</a>.
        </p>
        <i>(OpenAIRE is a Science Infrastructure under the aegis of the European Commission and its main goal is to
          encourage Researchers and Scientists to introduce
          and make their work public to the entire scientific community).</i>
      </div>
    </div>
    <h2 class="uk-text-center uk-margin-remove-top">George Karafotias</h2>
    <div class="uk-flex uk-flex-top uk-margin-large-bottom uk-grid uk-grid-large" uk-grid>
      <div class="uk-width-1-4@m uk-width-1-3">
        <img class="photo" src="assets/george.png">
      </div>
      <div class="uk-width-expand uk-flex-first">
        <p>
          George Karafotias is an experienced Unity Developer with a demonstrated history of working in the research
          industry. Skilled in (serious) game development,
          Virtual and Augmented Reality applications, Simulators, and Haptics. Strong engineering professional graduated
          from the
          <a href="https://www.ntua.gr/en/" target="_blank">Technical University of Athens</a> (BEng and MSc).
        </p>
      </div>
    </div>
    <h2 class="uk-text-center uk-margin-remove-top">Stylianos Servos</h2>
    <div class="uk-flex uk-flex-top uk-margin-large-bottom uk-grid uk-grid-large" uk-grid>
      <div class="uk-width-1-4@m uk-width-1-3">
        <img class="photo" src="assets/stelios.png">
      </div>
      <div class="uk-width-expand">
        <p>
          Stylianos Servos is currenlty completing his MSc in Computer Science in the
          <a href="http://di.uoa.gr" target="_blank">Department of Informatics and Telecommunications</a>
          in the National and Kapodistrian University of Athens. He got his bachelors' degree in the same department
          by the end of July 2017.
        </p>
      </div>
    </div>
  </div>
</div>
