<div class="uk-light uk-text-justify">
  <fp-slider class="uk-visible@m">
    <slide>
      <div class="uk-container uk-section">
        <div class="uk-grid uk-flex uk-flex-middle" uk-grid>
          <div class="uk-width-2-3 uk-width-3-5@l">
            <h1>Global warming</h1>
            <p>
              Global warming is the long-term heating of Earth’s climate system observed since the pre-industrial period
              (between 1850 and 1900) due to human activities,
              primarily fossil fuel burning, which increases heat-trapping greenhouse gas levels in Earth’s atmosphere.
              The
              term is frequently used interchangeably with
              the term climate change, though the latter refers to both human- and naturally produced warming and the
              effects it has on our planet. It is most commonly
              measured as the average increase in Earth’s global surface temperature.
            </p>
            <p>
              Since the pre-industrial period, human activities are estimated to have increased Earth’s global average
              temperature by about 1 degree Celsius (1.8 degrees Fahrenheit),
              a number that is currently increasing by 0.2 degrees Celsius (0.36 degrees Fahrenheit) per decade. Most of
              the
              current warming trend is extremely likely
              (greater than 95 percent probability) the result of human activity since the 1950s and is proceeding at an
              unprecedented rate over decades to millennia.
            </p>
          </div>
          <div class="uk-width-expand uk-flex uk-flex-center">
            <img src="assets/home/global-warming.png">
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="uk-container uk-section">
        <div class="uk-grid uk-flex uk-flex-middle" uk-grid>
          <div class="uk-width-2-3 uk-width-3-5@l">
            <h1>Climate change</h1>
            <p>
              Climate change is a long-term change in the average weather patterns that have come to define Earth’s
              local,
              regional and global climates.
              These changes have a broad range of observed effects that are synonymous with the term.
            </p>
            <p>
              Changes observed in Earth’s climate since the early 20th century are primarily driven by human activities,
              particularly fossil fuel burning,
              which increases heat-trapping greenhouse gas levels in Earth’s atmosphere, raising Earth’s average surface
              temperature. These human-produced
              temperature increases are commonly referred to as global warming. Natural processes can also contribute to
              climate change, including internal
              variability (e.g., cyclical ocean patterns like El Niño, La Niña and the Pacific Decadal Oscillation) and
              external forcings (e.g., volcanic activity,
              changes in the Sun’s energy output, variations in Earth’s orbit).
            </p>
          </div>
          <div class="uk-width-expand uk-flex uk-flex-center uk-flex-first">
            <img src="assets/home/climate-change.png">
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="uk-container uk-section">
        <div class="uk-grid uk-flex uk-flex-middle" uk-grid>
          <div class="uk-width-2-3 uk-width-3-5@l">
            <h1>Effects of melting glaciers on sea level rise</h1>
            <p>
              Melting glaciers add to rising sea levels, which in turn increases coastal erosion and elevates storm
              surge
              as
              warming air and ocean temperatures create more frequent
              and intense coastal storms like hurricanes and typhoons. Specifically, the Greenland and Antarctic ice
              sheets
              are the largest contributors of global sea level rise.
              Right now, the Greenland ice sheet is disappearing four times faster than in 2003 and already contributes
              20%
              of
              current sea level rise.
            </p>
            <p>
              How much and how quickly these Greenland and Antarctic ice sheets melt in the future will largely
              determine
              how
              much ocean levels rise in the future.
              If emissions continue to rise, the current rate of melting on the Greenland ice sheet is expected to
              double
              by
              the end of the century.
              Alarmingly, if all the ice on Greenland melted, it would raise global sea levels by 20 feet.
            </p>
          </div>
          <div class="uk-width-expand uk-flex uk-flex-center">
            <img src="assets/home/glacier.png">
          </div>
        </div>
      </div>
    </slide>
  </fp-slider>
  <div class="uk-hidden@m">
    <div class="uk-container uk-section">
      <div class="uk-container uk-section">
        <div class="uk-grid uk-flex uk-flex-middle uk-flex-center uk-margin-left uk-margin-right" uk-grid>
          <div class="uk-width-3-4@s">
            <h1>Global warming</h1>
            <p>
              Global warming is the long-term heating of Earth’s climate system observed since the pre-industrial period
              (between 1850 and 1900) due to human activities,
              primarily fossil fuel burning, which increases heat-trapping greenhouse gas levels in Earth’s atmosphere.
              The
              term is frequently used interchangeably with
              the term climate change, though the latter refers to both human- and naturally produced warming and the
              effects it has on our planet. It is most commonly
              measured as the average increase in Earth’s global surface temperature.
            </p>
            <p>
              Since the pre-industrial period, human activities are estimated to have increased Earth’s global average
              temperature by about 1 degree Celsius (1.8 degrees Fahrenheit),
              a number that is currently increasing by 0.2 degrees Celsius (0.36 degrees Fahrenheit) per decade. Most of
              the
              current warming trend is extremely likely
              (greater than 95 percent probability) the result of human activity since the 1950s and is proceeding at an
              unprecedented rate over decades to millennia.
            </p>
          </div>
          <div class="uk-width-expand@s uk-width-1-2">
            <img src="assets/home/global-warming.png">
          </div>
        </div>
      </div>
    </div>
    <div class="uk-container uk-section">
      <div class="uk-grid uk-flex uk-flex-middle uk-flex-center uk-margin-left uk-margin-right" uk-grid>
        <div class="uk-width-3-4@s">
          <h1>Climate change</h1>
          <p>
            Climate change is a long-term change in the average weather patterns that have come to define Earth’s
            local,
            regional and global climates.
            These changes have a broad range of observed effects that are synonymous with the term.
          </p>
          <p>
            Changes observed in Earth’s climate since the early 20th century are primarily driven by human activities,
            particularly fossil fuel burning,
            which increases heat-trapping greenhouse gas levels in Earth’s atmosphere, raising Earth’s average surface
            temperature. These human-produced
            temperature increases are commonly referred to as global warming. Natural processes can also contribute to
            climate change, including internal
            variability (e.g., cyclical ocean patterns like El Niño, La Niña and the Pacific Decadal Oscillation) and
            external forcings (e.g., volcanic activity,
            changes in the Sun’s energy output, variations in Earth’s orbit).
          </p>
        </div>
        <div class="uk-width-expand@s uk-width-1-2 uk-flex-first@s">
          <img src="assets/home/climate-change.png">
        </div>
      </div>
    </div>
    <div class="uk-container uk-section">
      <div class="uk-grid uk-flex uk-flex-middle uk-flex-center uk-margin-left uk-margin-right" uk-grid>
        <div class="uk-width-3-4@s">
          <h1>Effects of melting glaciers on sea level rise</h1>
          <p>
            Melting glaciers add to rising sea levels, which in turn increases coastal erosion and elevates storm
            surge
            as
            warming air and ocean temperatures create more frequent
            and intense coastal storms like hurricanes and typhoons. Specifically, the Greenland and Antarctic ice
            sheets
            are the largest contributors of global sea level rise.
            Right now, the Greenland ice sheet is disappearing four times faster than in 2003 and already contributes
            20%
            of
            current sea level rise.
          </p>
          <p>
            How much and how quickly these Greenland and Antarctic ice sheets melt in the future will largely
            determine
            how
            much ocean levels rise in the future.
            If emissions continue to rise, the current rate of melting on the Greenland ice sheet is expected to
            double
            by
            the end of the century.
            Alarmingly, if all the ice on Greenland melted, it would raise global sea levels by 20 feet.
          </p>
        </div>
        <div class="uk-width-expand@s uk-width-1-2">
          <img src="assets/home/glacier.png">
        </div>
      </div>
    </div>
  </div>
</div>
