@import '~@angular/material/theming';
@import "assets/variables";

@include mat-core();
$my-app-primary: mat-palette($mat-cyan, 900);
$my-app-accent:  mat-palette($mat-light-green, A400);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);
